.playerList {
    padding: 0;
    width: 80vw;
    margin: 2em auto;
}

.playerListRow {
    display: flex;
    justify-content: space-around;
    border-bottom: rgb(187, 187, 187) 1px solid;
    padding: 0.5em 2em;
}

.playerListRowHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: rgb(187, 187, 187) 1px solid;
    padding: 0.5em 2em;
    color: white;
    background-color: black;
    cursor: default;
}

.playerListRowHeader .playerListDelete {
    cursor: default;
}

.playerListRow:last-of-type {
    border-bottom: none;
}

.playerListCell {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
}

.playerListDelete {
    cursor: pointer;
}

.pinLockIcon {
    cursor: pointer;
}
