/* dynamic toast */
.toast-existsError,
.toast-cannotUseError {
    border: 1px solid #ddd;
    background-color: rgb(177, 27, 27);
}

.toast-success {
    border: 1px solid #ddd;
    background-color: rgb(9, 160, 52);
}

/* utility */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}